@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script:regular);

#content {
    width: 960px;
    margin: auto auto;
}
#wrapper {
    width: 960px;
    margin: auto auto;
}
#wrapper1 {
    width: 960px;
    margin: auto auto;
}

h1{
    color: black;
    font-family: 'Petit Formal Script';
    position: relative;
    left: 12rem;
    
}

body {
    background-color: #caafbd;
    color:#92939a; 

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #CAAFBD;
    position: relative;
    left: 20.7rem;
}
            
li {
    outline-color: black;
    outline-width: 10px;
    float: left;
}
            
li a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: 'Petit Formal Script';
    font-style: italic;

}

li a:hover {
    background-color: #92939a;
    color:black;
    outline-color: black;
    outline-width: 10px;
}

#logo {
    width: 960px;
    margin: auto auto;
    position: relative;
    top: 20rem;

}

nav {
    text-align: center;
}

#logo1 img {
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 25%;
}

#logo1:hover{
    opacity: 0.7;
}

.fa {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    width: 15px;
    border-radius: 100%;


}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    position: relative;
    top: 75px;
    left: 9.0rem;

}

.fa-instagram {
    background: #125688;
    color: white;
    position: relative;
    top: 75px;
    left: 9.3rem;
}

.logo {
    position: relative;
    top: 100px;
    left: 35%;
    border-radius: 5%;
    max-width: 300px;
}

#pic {
    position: relative;
    left: 23rem;
    top: 100px;
}