@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script:regular);

#wrapper {
    width: 960px;
    margin: auto auto;
}
#wrapper1 {
    width: 960px;
    margin: 0 auto;
}

h1{
    color: black;
    font-family: 'Petit Formal Script';
    
}

body {
    background-color: #caafbd;
    color:#92939a;
   

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #CAAFBD;
    
}
            
li {
    outline-color: black;
    outline-width: 10px;
}
            
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Petit Formal Script';
    font-style: italic;
}

li a:hover {
    background-color: #92939a;
    color:black;
    outline-color: black;
    outline-width: 10px;
}

#logo {
    width: 960px;
    margin: auto auto;

}

nav {
    text-align: center;
}

#logo1 img {
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 25%;
}


.fa {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    width: 15px;
    border-radius: 100%;


}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    position: relative;
    top: 50px;
    left: 43%;

}

.fa-instagram {
    background: #125688;
    color: white;
    position: relative;
    top: 50px;
    left: 45%;
}

.logo {
    position: relative;
    top: 100px;
    left: 34.5%;
    border-radius: 5%;
    max-width: 300px;
}
