@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script:regular);

div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

h1{
    color: black;
    font-family: 'Petit Formal Script';
    
}

body {
    background-color: #caafbd;
   color:#92939a;
   

}
ul {list-style-type: none;
    margin: 0;
    
    padding: 0;
    background-color: #CAAFBD;
    
}
            
li {
    outline-color: black;
    outline-width: 10px;
}
            
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Petit Formal Script';
    font-style: italic;
}

li a:hover {
    background-color: #92939a;
    color:black;
    outline-color: black;
    outline-width: 10px;
}

#logo img {
    max-width: 75%;
    height: auto;
    display: block;
    position: fixed;
    top: 70%;
    left: 15%;
    right: 15%;
    border-radius: 5%;
}

nav {
    text-align: center;
}

#logo1 img {
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 25%;
}


.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 50px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    position: relative;
    top: 75px;
    left: -20px

}

.fa-instagram {
    background: #125688;
    color: white;
    position: relative;
    top: 75px;
    left: -20px;
}
